body{
    font-family: "Roboto", sans-serif;
}

.focus-title{
    font-family: "Caveat", cursive;
}

#cabecalho h1,
#cabecalho .nav-link{
    color:#fff;
}

#cabecalho{
    background-color: rgb(187, 178, 195);
}

.carousel-item img {
    height: 700px;
    width: 100%;
}

.fundo-bolinha-roxa{
    background-image: url(./imagens/fundo/dot.jpg);
}

.fundo-roxo{
    background-color: rgb(247, 238, 255);
}

#produtos img {
    height: 250px;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

@media screen and (max-width: 767px){
    .carousel-item img {
        height: 280px;
    }

    .redes-sociais{
        padding-top: 30px;
    }
}