body{
    font-family: "Roboto", sans-serif;
}

.focus-title{
    font-family: "Caveat", cursive;
}

hr{
    background-color: black;
    padding:3px;
}

#cabecalho h1,
#cabecalho .nav-link{
    color:#fff;
}

#cabecalho{
    background-color: rgb(187, 178, 195);
}

.carousel-item img {
    height: 700px;
    width: 100%;
}

.fundo-bolinha-roxa{
    background-image: url(./imagens/fundo/dot.jpg);
}

.fundo-roxo{
    background-color: rgb(247, 238, 255);
}

#produtos img {
    height: 250px;
}